.badgeList {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.textBadges {
	width: 100%;
	padding-left: 3%;
}

.nameBadges {
	width: 100%;
	margin-bottom: 0.6%;
}

.infoBadges {
	font-size: 0.8rem;
	margin: 0;
}

.socialBadges {
	font-size: 0.8rem;
	color: #007bff;
}

.BadgesListItem__avatar {
	border-radius: 50%;
	background: #a3a3a3;
	margin-right: 0.5rem;
	width: 80px;
	height: 80px;
}
